.wrapper {
  position: relative;
  margin: 0 15px;

  .video-container {
    padding: 0;
    border-radius: 5px;
    border: 2px solid var(--black);
    overflow: hidden;
    position: relative;
    padding-top: 37.5%;

    @media (max-width: 992px) {
      padding-top: 30%;
    }

    @media (max-width: 768px) {
      padding-top: 56.25%;
    }

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  .content {
    padding: 0 20px;

    .title {
      margin: 10px 0;
      font-size: 3.5rem;
      font-weight: 700;
    }

    .tag-container {
      display: flex;
    }

    .info {
      margin: 10px 0;
      display: flex;
      align-items: center;

      .info-content {
        display: flex;
        align-items: center;
        font-size: 1.5rem;
        svg {
          margin-right: 5px;
        }

        & + .info-content {
          margin-left: 15px;
        }
      }
    }

    .action {
      margin: 20px 0;

      .download-container {
        .download-msg {
          display: flex;
          align-items: center;
          padding: 0 5px;
          font-size: 2rem;
          color: var(--error-msg);

          svg {
            margin-right: 5px;
          }
        }

        .download-btn {
          display: block;
          text-align: center;
          font-size: 2rem;
          font-weight: 600;
          margin: 10px 0;
          padding: 5px 0px;
          border: none;
          border-radius: 5px;
          color: var(--title-color);
          background-color: var(--black-btn);

          &:hover {
            color: var(--title-color-hover);
            background-color: var(--black-btn-hover);
            transition: 0.3s all ease-in-out;
          }

          &.disabled {
            color: #888888;
            background-color: #cccccc;
            cursor: not-allowed;
          }
        }
      }

      .link-btn {
        display: flex;

        button {
          padding: 5px 15px;
          font-size: 2rem;
          border-radius: 3px;
          font-weight: 600;
          border: 2px solid var(--black);
          background-color: var(--white);

          a {
            color: var(--black);
            img {
              height: 35px;
              margin-right: 10px;
              filter: brightness(0%);
            }
          }

          & + button {
            margin-left: 15px;
          }

          &:hover {
            background-color: var(--black);

            a {
              color: var(--white);
              img {
                filter: brightness(100%);
              }
            }
            transition: 0.3s all ease-in-out;
          }
        }

        .youtube-btn {
          flex: 1;

          a {
            color: var(--black);
          }

          &:hover {
            background-color: var(--white);
            a {
              color: var(--youtube-color);
            }
          }
        }
      }
    }
  }
}
.share-popup-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;

  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;

  .share-popup {
    position: relative;
    background-color: var(--card-bg);
    border-radius: 10px;
    padding: 10px 20px 20px;

    @media (max-width: 480px) {
      padding: 10px 10px;
    }

    .share-popup-title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px 0;
      font-size: 2.5rem;
      font-weight: 700;
      text-align: left;
      color: var(--card-title);

      @media (max-width: 480px) {
        font-size: 2rem;
      }

      svg {
        transition: 0.3s all ease-in-out;

        &:hover {
          cursor: pointer;
          transform: rotate(90deg);
        }

        &:not(:hover) {
          transform: rotate(0deg);
        }
      }
    }

    .share-popup-subtitle {
      padding: 10px 0;
      font-size: 2rem;
      font-weight: 500;
      text-align: left;
      color: var(--card-title);

      @media (max-width: 480px) {
        font-size: 1.8rem;
      }
    }

    .share-content {
      border-top: 1px solid var(--gray);

      .share-icon-list {
        display: flex;
        align-items: center;
        padding: 10px 0;

        .share-item {
          margin: 0 15px;
          display: flex;
          align-self: center;
          justify-content: center;

          @media (max-width: 480px) {
            margin: 0 10px;

            svg {
              height: 35px;
            }
          }

          &:hover {
            cursor: pointer;
            opacity: 0.8;
            transform: scale(1.1);
            transition: 0.3s all ease-out;
          }
        }
      }
    }

    .share-copy {
      .copy-link-container {
        display: flex;
        justify-content: space-between;
        padding: 10px 5px;
        border-radius: 8px;
        border: 1px solid var(--border-color);
        transition: 0.3s all linear;

        @media (max-width: 480px) {
          padding: 5px;
        }

        .copy-link-input {
          color: var(--card-title);
          flex: 1;
          font-size: 1.6rem;
          border: none;
          outline: none;
          background-color: transparent;

          @media (max-width: 480px) {
            font-size: 1.3rem;
          }
        }

        .copy-icon {
          margin: auto 5px;
          color: var(--card-title);
          cursor: pointer;

          @media (max-width: 480px) {
            height: 20px;
          }

          &.copied {
            color: green;
          }
        }
      }
    }
  }
}
