html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
}

.App {
  min-height: 100vh;
  padding: 10px 5px;
  background-color: var(--background-color);
  transition: all 0.3s ease-in-out;

  header {
    img {
      width: 80px;
      height: auto;
    }
  }

  a {
    text-decoration: none;
  }
}

//Light theme
:root {
  --white: #fff;
  --black: #000;
  --gray: #d2d2d2;
  --purple: #cb6be6;

  //Variable
  --background-color: #e3e3d7;
  --nav-background-color: #1e1f20;
  --icon-item-brightness: 50%;
  --icon-item-brightness-nobg: 0%;
  --icon-color: #242424;
  --icon-color-withbg: #fff;
  --icon-color-theme: #242424;
  --shadow-icon: #fff;
  --shadow-color: #00000040;

  //Mer
  --bot-shawdow-color: #44dedd;
  --chat-bg: #ffffff80;
  --user-input: #242424;
  --user-message: #d2d2d2;
  --bot-message-bg: #242424;
  --user-message-bg: #303030;

  //Opposite
  --card-bg-color: #000000;
  --card-title-color: #fff;

  //Same
  --card-bg: #f8f8f8;
  --card-title: #242424;

  //Message
  --success-msg: #01a046;
  --warning-msg: #ef8130;
  --error-msg: #d60121;
  --info-msg: #0390bb;

  --black-btn: #000000;
  --black-btn-hover: #fff;
  --title-color: #fff;
  --title-color-hover: #242424;
  --border-color: #111111;

  //Classes
  .title-color {
    color: #fff;
  }

  .title-color-withbg {
    color: #000;
  }

  .description-color {
    color: #242424;
  }

  .normal-bg {
    background-color: #000000;
  }
  //Type
  .intro-bg {
    background-color: #6eccf4;
  }
  .outro-bg {
    background-color: #fcba30;
  }
  .music-bg {
    background-color: #cb6be6;
  }
  .effect-bg {
    background-color: #75d5b3;
  }
  .template-bg {
    background-color: #ed7843;
  }

  //Template
  .hero-bg {
    background-color: #4b7ec5;
  }

  .game-bg {
    background-color: #ee6d38;
  }

  .anime-bg {
    background-color: #09b87f;
  }

  .movie-bg {
    background-color: #ee4a5b;
  }

  //Social media
  --youtube-color: #ff0033;
  --tiktok-color: #000000;
  --facebook-color: #1877f2;
  --github-color: #000000;
  --gmail-color: linear-gradient(
    90deg,
    #0085f7 22%,
    #e51c19 31%,
    #ff4131 61%,
    #ff4131 74%,
    #ffbc00 81%,
    #00a94b 100%
  );

  .youtube_container {
    button {
      background-color: var(--youtube-color);
    }
  }
}

//Dark theme
[data-theme="dark"] {
  //Variable
  --background-color: #1e1f20;
  --nav-background-color: #fcba30;
  --icon-item-brightness: 0%;
  --icon-item-brightness-nobg: 100%;
  --icon-color: #fff;
  --icon-color-withbg: #242424;
  --icon-color-theme: #fcba30;
  --shadow-icon: #1e1f20;
  --shadow-color: #fff;

  //Mer
  --bot-shawdow-color: #d485da;
  --chat-bg: #11111180;
  --user-input: #fff;
  --user-message: #242424;
  --bot-message-bg: #fcba30;
  --user-message-bg: #f4f4f4;

  // Opposite
  --card-bg-color: #fff;
  --card-title-color: #000000;

  //Same
  --card-bg: #242424;
  --card-title: #d2d2d2;

  //Message
  --success-msg: #57e57f;
  --warning-msg: #ffc073;
  --error-msg: #ff9087;
  --info-msg: #19b6e6;

  --black-btn: #fff;
  --black-btn-hover: #000000;
  --title-color: #242424;
  --title-color-hover: #fff;
  --border-color: #d2d2d2;

  //Classes
  .title-color {
    color: #000000;
  }

  .title-color-withbg {
    color: #fcba30;
  }

  .description-color {
    color: #d2d2d2;
  }

  .normal-bg {
    background-color: #fcba30;
  }
}
