html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
}

.App {
  padding: 10px 5px;
  background-color: var(--background-color);
  transition: all 0.3s ease-in-out;

  header {
    img {
      width: 80px;
      height: auto;
    }
  }

  a {
    text-decoration: none;
  }
}

//Light theme
:root {
  --white: #fff;
  --black: #000;
  --gray: #d2d2d2;

  //Variable
  --background-color: #e3e3d7;
  --nav-background-color: #1e1f20;
  --icon-item-brightness-withbg: 100%;
  --icon-item-brightness-nobg: 0%;
  --shadow-color: #00000040;

  --card-bg-color: #000000;
  --card-title-color: #fff;

  --black-btn: #000000;
  --black-btn-hover: #fff;
  --title-color: #fff;
  --title-color-hover: #242424;

  //Classes
  .title-color {
    color: #fff;
  }
  .description-color {
    color: #242424;
  }

  .normal-bg {
    background-color: #000000;
  }
  //Type
  .intro-bg {
    background-color: #6eccf4;
  }
  .outro-bg {
    background-color: #fcba30;
  }
  .music-bg {
    background-color: #cb6be6;
  }
  .effect-bg {
    background-color: #75d5b3;
  }
  .template-bg {
    background-color: #ed7843;
  }

  //Template
  .hero-bg {
    background-color: #4b7ec5;
  }

  .game-bg {
    background-color: #ee6d38;
  }

  .anime-bg {
    background-color: #09b87f;
  }

  .movie-bg {
    background-color: #ee4a5b;
  }

  //Social media
  --youtube-color: #ff0033;

  .youtube_container {
    button {
      background-color: var(--youtube-color);
    }
  }
}

//Dark theme
[data-theme="dark"] {
  //Variable
  --background-color: #1e1f20;
  --nav-background-color: #fcba30;
  --icon-item-brightness: 0%;
  --icon-item-brightness-nobg: 100%;

  --shadow-color: #fff;

  --card-bg-color: #fff;
  --card-title-color: #000000;

  --black-btn: #fff;
  --black-btn-hover: #000000;
  --title-color: #242424;
  --title-color-hover: #fff;

  //Classes
  .title-color {
    color: #000000;
  }
  .description-color {
    color: #d2d2d2;
  }

  .normal-bg {
    background-color: #fcba30;
  }
}
