.wrapper {
  position: fixed;
  right: 1%;
  bottom: 0;

  display: flex;
  flex-direction: column;
  align-items: center;

  .theme {
    transform: translateY(200px);
    transition: transform 0.5s ease-out;
  }

  .chat-container {
    position: relative;
    display: flex;
    align-items: center;
    margin: 20px 0;
  }

  .chat-icon {
    transition: transform 0.5s ease;
    transform: rotate(0deg);
    z-index: 1;

    img {
      width: 50px;
      height: 50px;
    }

    &:hover {
      cursor: pointer;
      transform: rotate(360deg);
    }
  }

  .random-message {
    position: absolute;
    right: 50px;
    text-align: center;
    font-size: 1.6rem;
    backdrop-filter: blur(20px);
    background-color: #cccccc00;
    color: var(--bot-message-bg);
    padding: 8px 12px;
    border-radius: 15px;
    width: 250px;
    border: 1px solid var(--border-color);
    box-shadow: 0 1px 5px var(--shadow-color);
    animation: fadeIn 0.3s ease-in-out;
  }

  &:hover {
    .theme {
      animation: slide-in 0.3s ease-in forwards;
    }
  }
}

//Animation
@keyframes slide-in {
  0% {
    transform: translateY(150px);
    opacity: 0;
  }

  50% {
    transform: translateY(100px);
    opacity: 0;
  }

  75% {
    transform: translateY(50px);
    opacity: 0.5;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
